fastapi
uvicorn[standard]
supabase
python-dotenv
passlib
argon2-cffi
SQLAlchemy
python-dotenv
psycopg2-binary
requests

# NPM MUST BE INSTALLED FOR VITE FRONTEND
# To run backend, navigate to backend directory and run: uvicorn main:app --reload
# To run frontend, navigate to frontend directory and run: npm run dev